body{
    background-color: #e5e5f7;
    opacity: 0.8;
    background: linear-gradient(135deg, #5d5d6855 25%, transparent 25%) -10px 0/ 20px 20px, linear-gradient(225deg, #5d5d68 25%, transparent 25%) -10px 0/ 20px 20px, linear-gradient(315deg, #5d5d6855 25%, transparent 25%) 0px 0/ 20px 20px, linear-gradient(45deg, #5d5d68 25%, #e5e5f7 25%) 0px 0/ 20px 20px;
}
.form_send{
    border: 2px #000 solid;
    background-color: white;
    color: black;
    padding: 1%;
    text-align: center;
    font-family: arial;
}
.formulario{
    display: grid;
    place-items: center;
}
.formulario h1{
    font-family: arial;
    background-color: white;
    border: solid 2px #000;
    padding: 0.5%;
}
.form_send input{
    display: block;
    text-align: center;
    border: solid 2px #000;
}
.submit_send{
    margin-top: 4%;
    margin-left: 37%;
    cursor: pointer;
    padding: 1%;
}